#ytb-dropdown-dark button,
#ytb-dropdown-light button {
	margin: 8px 0px 8px 8px;
	font-family: Roboto;
	line-height: 8px;
	padding: 10px 16px;
	background: red;
	border: 0;
	border-radius: 2px;
	text-transform: uppercase;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.88);
	height: 36px;
	font-size: 14px;
	outline: none;
	cursor: pointer;
}

#ytb-dropdown-dark, #ytb-dropdown-light {
	position: relative;
}

#ytb-dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    width: 480px;
    z-index: 1000;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

#ytb-dropdown-light #ytb-dropdown-menu {
	background: rgba(255, 255, 255);
	color: #121212;
}

#ytb-dropdown-dark #ytb-dropdown-menu {
	background: rgb(36, 36, 36);
	color: #FEFEFE;
}

#ytb-dropdown-menu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

#ytb-dropdown-menu a:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

#ytb-dropdown-dark:hover #ytb-dropdown-menu,
#ytb-dropdown-light:hover #ytb-dropdown-menu {
    display: block;
}

.ytb-caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

#ytb-dropdown-dark .ytb-video {
	color: rgb(255, 179, 179);
}

#ytb-dropdown-dark .ytb-audio {
	color: rgb(175, 244, 244);
}

#ytb-dropdown-light .ytb-video {
	color: rgb(72, 0, 0);
}

#ytb-dropdown-light .ytb-audio {
	color: rgb(0, 64, 64);
}
